# Data Analysis with Python Course

# Pandas

## freeCodeCamp.org YouTube

In [2]:
from urllib.request import urlretrieve

italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'

urlretrieve(italy_covid_url, 'data/italy-covid-daywise.csv')

('italy-covid-daywise.csv', <http.client.HTTPMessage at 0x1110d2be0>)

In [3]:
import pandas as pd

covid_df = pd.read_csv('data/italy-covid-daywise.csv')

In [4]:
type(covid_df)

pandas.core.frame.DataFrame

In [5]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [6]:
# information about data frame
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [7]:
# summary statistics for data frame
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [8]:
# column names
covid_df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [9]:
# dimensions
covid_df.shape

(248, 4)

In [10]:
# accessing column information
covid_df['new_cases']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [14]:
# indexing a column
covid_df['new_deaths'][100]

540.0

In [15]:
# use at command to access a row, column
covid_df.at[100, 'new_deaths']

540.0

In [16]:
# can also say
covid_df.new_deaths

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
243    1.0
244    4.0
245    6.0
246    8.0
247    6.0
Name: new_deaths, Length: 248, dtype: float64

In [17]:
# enter a list of columns to get more than one
covid_df[['date','new_deaths']]

           date  new_deaths
0    2019-12-31         0.0
1    2020-01-01         0.0
2    2020-01-02         0.0
3    2020-01-03         0.0
4    2020-01-04         0.0
..          ...         ...
243  2020-08-30         1.0
244  2020-08-31         4.0
245  2020-09-01         6.0
246  2020-09-02         8.0
247  2020-09-03         6.0

[248 rows x 2 columns]

In [20]:
# creating a new data frame view as below will not create an entirely new data frame
# it will still point to the same data frame in memory as the original
# changing data in one, will change data in all views of that data frame
cases_df = covid_df[['date','new_cases']]
cases_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       248 non-null    object
 1   new_cases  248 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.0+ KB

In [21]:
# if you want a legitimate new copy of a data frame, you must use .copy function
covid_df_copy = covid_df.copy()

In [22]:
# access a row of data
covid_df.loc[100]

date          2020-04-09
new_cases         3836.0
new_deaths         540.0
new_tests            NaN
Name: 100, dtype: object

In [23]:
# head and tail functions
covid_df.head(5)

         date  new_cases  new_deaths  new_tests
0  2019-12-31        0.0         0.0        NaN
1  2020-01-01        0.0         0.0        NaN
2  2020-01-02        0.0         0.0        NaN
3  2020-01-03        0.0         0.0        NaN
4  2020-01-04        0.0         0.0        NaN

In [24]:
# check for first entry of non-null values
covid_df.new_tests.first_valid_index()

111

In [25]:
covid_df.loc[108:113]

           date  new_cases  new_deaths  new_tests
108  2020-04-17     3786.0       525.0        NaN
109  2020-04-18     3493.0       575.0        NaN
110  2020-04-19     3491.0       480.0        NaN
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0

In [26]:
# random sample of rows from data frame
covid_df.sample(10)

           date  new_cases  new_deaths  new_tests
92   2020-04-01     4053.0       839.0        NaN
77   2020-03-17     4000.0       347.0        NaN
210  2020-07-28      168.0         5.0    25341.0
238  2020-08-25      953.0         4.0    45798.0
178  2020-06-26      296.0        34.0    28331.0
225  2020-08-12      412.0         6.0    27330.0
140  2020-05-19      451.0        99.0    40226.0
207  2020-07-25      252.0         5.0    28059.0
22   2020-01-22        0.0         0.0        NaN
164  2020-06-12      379.0        53.0    37651.0

In [27]:
# sum columns
covid_df.new_tests.sum()

4279456.0

In [28]:
# filter rows on a criteria
# creates a series of boolean values
covid_df.new_cases > 1000

0      False
1      False
2      False
3      False
4      False
       ...
243     True
244     True
245    False
246    False
247     True
Name: new_cases, Length: 248, dtype: bool

In [29]:
covid_df[covid_df.new_cases > 1000]

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

In [36]:
# math functions on a series
# create positive rate series (column)
covid_df['positive_rate'] = covid_df.new_cases / covid_df.new_tests

covid_df.loc[111:115]

           date  new_cases  new_deaths  new_tests  positive_rate
111  2020-04-20     3047.0       433.0     7841.0       0.388598
112  2020-04-21     2256.0       454.0    28095.0       0.080299
113  2020-04-22     2729.0       534.0    44248.0       0.061675
114  2020-04-23     3370.0       437.0    37083.0       0.090877
115  2020-04-24     2646.0       464.0    95273.0       0.027773

In [37]:
# remove columns using drop
covid_df.drop(columns=['positive_rate'], inplace=True)

covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [38]:
# sorting rows
# 10 days with highest number of cases
covid_df.sort_values('new_cases', ascending=False).head(10)

          date  new_cases  new_deaths  new_tests
82  2020-03-22     6557.0       795.0        NaN
87  2020-03-27     6153.0       660.0        NaN
81  2020-03-21     5986.0       625.0        NaN
89  2020-03-29     5974.0       887.0        NaN
88  2020-03-28     5959.0       971.0        NaN
83  2020-03-23     5560.0       649.0        NaN
80  2020-03-20     5322.0       429.0        NaN
85  2020-03-25     5249.0       743.0        NaN
90  2020-03-30     5217.0       758.0        NaN
86  2020-03-26     5210.0       685.0        NaN

In [39]:
# convert column to date
covid_df['date'] = pd.to_datetime(covid_df.date)

In [40]:
covid_df.date

0     2019-12-31
1     2020-01-01
2     2020-01-02
3     2020-01-03
4     2020-01-04
         ...
243   2020-08-30
244   2020-08-31
245   2020-09-01
246   2020-09-02
247   2020-09-03
Name: date, Length: 248, dtype: datetime64[ns]

In [42]:
# pull out day, month, year, weekday, etc
covid_df['year'] = pd.DatetimeIndex(covid_df.date).year
covid_df['month'] = pd.DatetimeIndex(covid_df.date).month
covid_df['day'] = pd.DatetimeIndex(covid_df.date).day
covid_df['weekday'] = pd.DatetimeIndex(covid_df.date).weekday

In [43]:
covid_df

          date  new_cases  new_deaths  new_tests  year  month  day  weekday
0   2019-12-31        0.0         0.0        NaN  2019     12   31        1
1   2020-01-01        0.0         0.0        NaN  2020      1    1        2
2   2020-01-02        0.0         0.0        NaN  2020      1    2        3
3   2020-01-03        0.0         0.0        NaN  2020      1    3        4
4   2020-01-04        0.0         0.0        NaN  2020      1    4        5
..         ...        ...         ...        ...   ...    ...  ...      ...
243 2020-08-30     1444.0         1.0    53541.0  2020      8   30        6
244 2020-08-31     1365.0         4.0    42583.0  2020      8   31        0
245 2020-09-01      996.0         6.0    54395.0  2020      9    1        1
246 2020-09-02      975.0         8.0        NaN  2020      9    2        2
247 2020-09-03     1326.0         6.0        NaN  2020      9    3        3

[248 rows x 8 columns]

In [45]:
# summary stats for month of May
covid_df_may = covid_df[covid_df.month == 5]
covid_df_may_stats = covid_df_may[['new_cases','new_deaths','new_tests']]
covid_df_may_stats.sum()

new_cases       29073.0
new_deaths       5658.0
new_tests     1078720.0
dtype: float64

In [48]:
# group by
covid_month_df = covid_df.groupby(['year','month'])[['new_cases','new_deaths','new_tests']].sum()
covid_month_df

            new_cases  new_deaths  new_tests
year month
2019 12           0.0         0.0        0.0
2020 1            3.0         0.0        0.0
     2          885.0        21.0        0.0
     3       100851.0     11570.0        0.0
     4       101852.0     16091.0   419591.0
     5        29073.0      5658.0  1078720.0
     6         7772.0      1404.0   830354.0
     7         6722.0       388.0   797692.0
     8        21060.0       345.0  1098704.0
     9         3297.0        20.0    54395.0

In [50]:
# new data frame of location data
urlretrieve('https://gist.githubusercontent.com/aakashns/8684589ef4f266116cdce023377fc9c8/raw/99ce3826b2a9d1e6d0bde7e9e559fc8b6e9ac88b/locations.csv',
            'data/locations.csv')
locations_df = pd.read_csv('data/locations.csv')
locations_df[locations_df.location == 'Italy']

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
97,Italy,Europe,60461828.0,83.51,3.18,35220.084

In [52]:
# create location column in covid_df
covid_df['location'] = 'Italy'

In [56]:
# calculate some total values
covid_df['total_cases'] = covid_df.new_cases.cumsum()
covid_df['total_deaths'] = covid_df.new_deaths.cumsum()
covid_df['total_tests'] = covid_df.new_tests.cumsum() + 935310

In [57]:
# merge with Italy data from above
merged_df = covid_df.merge(locations_df, on='location')

In [58]:
merged_df.head(10)

,date,new_cases,new_deaths,new_tests,year,month,day,weekday,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,2019-12-31,0.0,0.0,NaN,2019,12,31,1,Italy,0.0,0.0,NaN,Europe,60461828.0,83.51,3.18,35220.084
1,2020-01-01,0.0,0.0,NaN,2020,1,1,2,Italy,0.0,0.0,NaN,Europe,60461828.0,83.51,3.18,35220.084
2,2020-01-02,0.0,0.0,NaN,2020,1,2,3,Italy,0.0,0.0,NaN,Europe,60461828.0,83.51,3.18,35220.084
3,2020-01-03,0.0,0.0,NaN,2020,1,3,4,Italy,0.0,0.0,NaN,Europe,60461828.0,83.51,3.18,35220.084
4,2020-01-04,0.0,0.0,NaN,2020,1,4,5,Italy,0.0,0.0,NaN,Europe,60461828.0,83.51,3.18,35220.084
5,2020-01-05,0.0,0.0,NaN,2020,1,5,6,Italy,0.0,0.0,NaN,Europe,60461828.0,83.51,3.18,35220.084
6,2020-01-06,0.0,0.0,NaN,2020,1,6,0,Italy,0.0,0.0,NaN,Europe,60461828.0,83.51,3.18,35220.084
7,2020-01-07,0.0,0.0,NaN,2020,1,7,1,Italy,0.0,0.0,NaN,Europe,60461828.0,83.51,3.18,35220.084
8,2020-01-08,0.0,0.0,NaN,2020,1,8,2,Italy,0.0,0.0,NaN,Europe,60461828.0,83.51,3.18,35220.084
9,2020-01-09,0.0,0.0,NaN,2020,1,9,3,Italy,0.0,0.0,NaN,Europe,60461828.0,83.51,3.18,35220.084

In [59]:
# create some new columns of data
merged_df['cases_per_million'] = merged_df.total_cases * 1e6 / merged_df.population
merged_df['deaths_per_million'] = merged_df.total_deaths * 1e6 / merged_df.population
merged_df['tests_per_million'] = merged_df.total_tests * 1e6 / merged_df.population

In [60]:
# create new df to save results of calculations
result_df = merged_df[['date',
                       'new_cases',
                       'total_cases',
                       'new_deaths',
                       'total_deaths',
                       'new_tests',
                       'total_tests',
                       'cases_per_million',
                       'deaths_per_million',
                       'tests_per_million']]

In [61]:
# save csv file of results_df
result_df.to_csv('data/results.csv', index=False)